include Makefile LICENSE README.rst requirements.txt
recursive-include docs *
recursive-include tests *
recursive-exclude docs *.pyc
recursive-exclude docs *.pyo
recursive-exclude tests *.pyc
recursive-exclude tests *.pyo
recursive-exclude * *.swp
prune docs/_build
prune docs/_themes/.git
